<a class="btn btn-default btn-sm" ng-if="$ctrl.isShow" ng-click="$ctrl.showModal()">
  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;
  <span class="hidden-xs ng-scope">SMS/MMS Marketing</span>
</a>

<script type="text/ng-template" id="send-sms-modal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">SMS/MMS Marketing</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div style="margin-bottom: 5px;">Send Message to: <b>{{ $ctrl.names }}</b></div>
    <hr/>
    <form name="templateForm" action="">
      <div class="form-group">
        <label for="">Message Type</label>
        <select name="type" class="form-control" style="width: 80px;" ng-model="$ctrl.form.type" required>
          <option value="sms">SMS</option>
          <option value="mms">MMS</option>
        </select>
      </div>
      <div class="form-group" ng-if="$ctrl.form.type === 'mms'">
        <label style="display: block;">Image</label>

        <label class="btn btn-default" style="width: 80px;">
          Browse <input type="file" class="hidden" nv-file-select="" uploader="$ctrl.uploader" multiple />
        </label>
        <div style="width: 100%;" ng-if="$ctrl.uploader.queue.length">
          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th ng-show="$ctrl.uploader.isHTML5">Size</th>
                <th ng-show="$ctrl.uploader.isHTML5">Progress</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.uploader.queue">
                <td>
                  <strong>{{ item.file.name }}</strong>
                  <div ng-show="$ctrl.uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                </td>
                <td ng-show="$ctrl.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="$ctrl.uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group">
        <label for="">Message</label>
        <textarea name="message" ng-model="$ctrl.form.message" class="form-control" rows="10" maxlength="160" style="resize: none;" required></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button"
      ng-disabled="templateForm.$invalid"
      ng-click="$ctrl.send(templateForm)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</script>
