<div class="row list-header ng-scope">
  <div class="col-lg-12">
    <div class="page-header">
      <button type="button" class="btn btn-default pull-right" style="margin-top: 2px;" ng-click="$ctrl.save()">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;<span class="hidden-xs ng-scope">Save</span>
      </button>

      <h1>Config</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 center">
    <ul class="nav nav-tabs nav-justified">
      <li ng-repeat="category in $ctrl.data.categories" ng-click="$ctrl.select(category)"
        ng-class="{ active: $ctrl.data.active === category }" >
        <a>{{ $ctrl.name(category) }}</a>
      </li>
    </ul>

    <form ng-repeat="category in $ctrl.data.categories" style="margin-top: 20px;"
      ng-if="$ctrl.data.active === category">
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="config in $ctrl.data.config | propsFilter: { category: category }">
        <label for="{{ config.key }}">{{ $ctrl.name(config.key) }}</label>
        <span ng-switch on="config.type">
          <select ng-switch-when="boolean" class="form-control" name="{{ config.key }}"
            ng-options="operator for operator in [true, false]" ng-model="config.value">
          </select>
          <input ng-switch-default class="form-control" name="{{ config.key }}"
            type="{{ config.type }}" ng-model="config.value" />
        </span>
      </div>
    </form>
  </div>
</div>
