<div class="row list-header ng-scope">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Config</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 center">
    <ul class="nav nav-tabs nav-justified">
      <li ng-repeat="category in $ctrl.data.categories" ng-click="$ctrl.select(category)"
        ng-class="{ active: $ctrl.data.active === category }" >
        <a>{{ $ctrl.name(category) }}</a>
      </li>
    </ul>

    <form ng-repeat="category in $ctrl.data.categories" style="margin-top: 20px;"
      ng-if="$ctrl.data.active === category">
      <div class="form-group" ng-repeat="config in $ctrl.data.config | propsFilter: { category: category }">
        <label>{{ $ctrl.name(config.key) }}</label>
        <input class="form-control" name="" type="text" value=""/>
      </div>
    </form>
  </div>
</div>
