<style>
  .checkout-form {
    margin: 20px 35px 0 35px;
  }
</style>

<a class="btn btn-default btn-sm" ng-click="$ctrl.showModal()" style="width: 100px">
  <span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;
  <span class="hidden-xs ng-scope">{{ $ctrl.title }}</span>
</a>

<script type="text/ng-template" id="invoice-modal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $ctrl.title }}</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <app-invoice customer="$ctrl.entry.values" invoice="$ctrl.data.invoice" view-type="$ctrl.data.viewType"></app-invoice>

    <form class="checkout-form" ng-if="!$ctrl.printOnly">
      <div class="form-group">
        <label>Payment Type:</label>
        <select class="form-control" ng-model="$ctrl.data.paymentType">
          <option value="cash">Cash</option>
          <option value="check">Credit/Debit card</option>
        </select>
      </div>
      <div class="form-group">
        <label>Note:</label>
        <textarea class="form-control" cols="30" rows="2" ng-model="$ctrl.data.note"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button"
      ng-if="!$ctrl.printOnly"
      ng-click="$ctrl.toggleViewType()" ng-disabled="$ctrl.disableToggle">{{ $ctrl.data.viewType === 'view' ? 'Edit' : 'View' }}</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.print()" ng-disabled="$ctrl.disablePrint">Print</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</script>
