<a class="btn btn-default btn-xs" ng-click="$ctrl.showModal()">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
    <span class="hidden-xs ng-scope">History</span>
</a>

<script type="text/ng-template" id="history-income-modal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">History Income</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Month</th>
                    <th scope="col">Income</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.data.history">
                    <th scope="row">{{ $index }}</th>
                    <td>{{ row.month }}</td>
                    <td>{{ row.income }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
    </div>
</script>
